body{
    background: var(--gray);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
#sidebar{
    position: fixed;
    width: 260px;
    background: var(--light);
    top: 0;
    left: 0;
    height: 100%;
}
#sidebar .brand{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    font-weight:700;
}